h1{
  color: #00f;
  text-align: center;
}
h2{
  color: green;
  font-size; italic;
  text-align: center;
}
p{
  font-family: sans-serif;
}
ul{
  line-height: 40px;
}
body{
  background-color: powderblue;
}
img{
  height: 300px;
  width: 200px;
}
